datetime
pyjokes
requests
Pillow
Image
ImageGrab
gTTS
keyboard
key
playsound
pyttsx3
SpeechRecognition
openai
pynput
pyaudio
django>=4.2.27 # not directly required, pinned by Snyk to avoid a vulnerability
sqlparse>=0.5.4 # not directly required, pinned by Snyk to avoid a vulnerability
